.abandonedDogServiceCont {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.puppyVideobox {
    width: 55%;
    height: 80%;
}

.puppyVideobox>video {
    width: 100%;
    height: 100%;
}

.puppyabandonedDogTextBox {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 35%;
    height: 80%;
    background-color: white;
}

.puppyabandonedDogTextBox>h3 {
    font-size: 23px;
    margin-bottom: 0.5rem;
}

.puppyabandonedDogTextBox>p {
    font-size: 15px;
    margin-bottom: 0.2rem;
    text-align: left;
}

.puppyabandonedDogTextBox>h5 {
    font-size: 20px;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.puppyabandonedDogTextBox>button {
    background-color: #dd953f;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
    margin-top: 1rem;
}

.puppyabandonedDogTextBox>button:hover {
    background-color: white;
    color: #dd952f;
    border: 1px solid #dd952f;
}

@media screen and (max-width: 1024px) {

    .puppyVideobox {
        width: 50%;
    }

    .puppyabandonedDogTextBox {
        width: 45%;
    }

}

@media screen and (max-width: 768px) {

    .puppyabandonedDogTextBox>h3,
    .puppyabandonedDogTextBox>h5 {
        font-size: 24px;
    }

    .puppyabandonedDogTextBox>p {
        font-size: 16px;
    }

    .abandonedDogServiceCont {
        flex-direction: column;
    }

    .puppyVideobox {
        width: 100%;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .puppyabandonedDogTextBox {
        align-items: center;
        justify-content: center;
        width: 90%;
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 480px) {

    .puppyabandonedDogTextBox>h3,
    .puppyabandonedDogTextBox>h5 {
        font-size: 20px;
    }

    .puppyabandonedDogTextBox>p {
        font-size: 13px;
        text-align: center;
    }
}