.adoptionReviewCont {
    width: 100%;
    min-height: 130vh;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.adoptionReviewCont>h3 {
    font-size: 30px;
    margin-top: 9rem;
    margin-bottom: 0.3rem;
}

.adoptionReviewCont>p {
    font-size: 16px;
    margin-bottom: 3rem;
    color: gray;
}

.adoptionReviewWrapper {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

.reviews {
    width: 300px;
    height: 300px;
    margin-left: 1.5rem;
    background-color: white;
    margin-bottom: 1.5rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reviews>img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: opacity 0.3s ease;
}

.reviews>h3 {
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.reviews>p {
    font-size: 14px;
    color: gray;
}

.reviews::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 67%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.reviews:hover::before {
    opacity: 1;
    z-index: 1;
}

.reviews:hover {
    transform: scale(1.05);
}

.reviewIconbox {
    display: none;
    position: absolute;
    top: 30%;
    right: 40%;
    z-index: 2;
}

.icon {
    width: 30px;
    height: 30px;
    color: white;
}

.reviews:hover .reviewIconbox {
    display: block;
}

.icon:hover {
    color: pink;
    transform: scale(1.05);
}


@media screen and (max-width: 768px) {

    .adoptionReviewCont>h3 {
        font-size: 24px;
    }

}


@media screen and (max-width: 480px) {


    .adoptionReviewCont>h3 {
        font-size: 23px;
        margin-bottom: 10px;
    }

    .adoptionReviewCont>p {
        font-size: 13px;
    }

}