.listDogcont {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 2rem;
    margin-top: 8rem;
}

.listDogHead {
    width: 80%;
    margin-bottom: 4rem;
    border-bottom: 1px solid gainsboro;
}


.listDogHead>h3 {
    font-size: 30px;
    margin: 30px;
}


.listDogWrapper {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center
}

.listDogWrapper>div {
    padding: 20px;
    width: 350px;
    margin: 15px;
    height: 430px;
    background-color: #ffffff;
    border: 1px solid gainsboro;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.listDogWrapper>div>img {
    margin-bottom: 1rem;
    border-radius: 20px;
}

.listDogWrapper>div>h3 {
    font-size: 21px;
    margin-bottom: 0.5rem;
}

.listDogWrapper>div span {
    color: #dd952f;
}

.listDogWrapper>div>p {
    font-size: 14px;
    color: gray;
    margin-bottom: 1rem;
}

.listDogWrapper>div>button {
    padding:10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #DD952F;
    margin-top: 10px;
}

.listDogWrapper>div>button>a {
    color: white;
}