.productsListCont {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 2rem;
    margin-top: 8rem;
}

.subMenu {
    width: 90%;
    display: flex;
}

.subMenu>ul {
    display: flex;
}

.productsListCont>h3 {
    font-size: 30px;
    margin: 30px;
}

.filterListButtons {
    width: 90%;
    margin-bottom: 4rem;
    border-bottom: 1px solid gainsboro;
}

.filterListButtons>button {
    padding: 15px 35px;
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 30px;
    margin: 0.5rem;
    font-size: 16px;
    font-weight: bold;
    color: #dd952f;
    margin-bottom: 3rem;
}

.filterListButtons>button:hover {
    background-color: #dd952f;
    color: white;
    border: none;
    font-weight: bold;
}

.productsListWrapper {
    width: 80%;
    display: flex;
    overflow-x: hidden;
    flex-wrap: wrap;
    padding-bottom: 20px;
}


.productsListCard {
    padding: 20px;
    width: 350px;
    margin: 15px;
    height: 430px;
    background-color: #ffffff;
    border: 1px solid gainsboro;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.productsListCard>img {
    border-radius: 20px;
}

.productsListCard>div {
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.productsListCard>div>h5 {
    font-size: 21px;
}

.productsListCard>div>p {
    font-size: 18px;
    color: gray;
}

.productsListCard>p {
    text-align: left;
    color: gray;
    margin-bottom: 0.8rem;
}

.productsListCard>div>button {
    padding: 5px 25px;
    background-color: #dd952f;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.productsListCard>div>a>button {
    padding: 5px 25px;
    background-color: #ff9500;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


/* 여기까지 상품 리스트 페이지  */

.productDetailCont {
    width: 90%;
    flex-direction: column;
    margin: 0 auto;
    min-height: 50vh;
    display: flex;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 2rem;
}

.productDetailCont>div:nth-child(2) {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-top: 2rem;
}

.productDetailImgBox {
    width: 50%;
}

.productDetailImgBox img {
    width: 100%;
    height: auto;
}

.productDetailTextBox {
    width: 45%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.productDetailTextBox h5 {
    color: grey;
    margin-bottom: 0.rem;
}

.productDetailTextBox h3 {
    font-size: 1.5rem;
}

.productDetailTextBox>p {
    color: gray;
    margin-top: 1rem;
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.pricebox {
    display: flex;
    align-items: flex-end;
}

.pricebox>p {
    margin-left: 0.2rem;
    color: gray;
}

.quantitySelector {
    display: flex;
    align-items: center;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 35px;
    border: 1px solid grey;
    margin-top: 1rem;
}

.quantityButton {
    border: none;
    width: 30px;
    border-radius: 10px;
    height: 30px;
    font-size: 17px;
    background: white;
    color: gray;
}

.quantityDisplay {
    color: gray;
    font-size: 0.6rem;
    font-weight: bold;
}

.productDetailButBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.addToCartBut,
.cartBut {
    width: 47%;
    height: 50px;
    background-color: white;
    color: #ff9500;
    border: 1px solid #ff9500;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 0.3rem;
    font-weight: bold;
}

.addToCartBut:hover,
.cartBut:hover {
    background-color: #ff9500;
    color: white;
}

.productDetailModalCont {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
}

.productDetailModalBox {
    width: 40%;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productDetailModalwrapper {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.productDetailModalHead {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 1rem;
}

.productDetailModalBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 70%;
    overflow: scroll;
    margin-bottom: 1rem;
}

.productDetailModalFooter {
    width: 100%;
    border-top: 1px solid gainsboro;
    margin-bottom: 1rem;
}

.productDetailModalFooter>div {
    width: 100%;
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
}

.productDetailModalFooter>div>h3 {
    font-size: 20px;
}

.productDetailModalHead h3 {
    font-size: 25px;
    margin-bottom: 1rem;
}

.productDetailModalBody>div {
    display: flex;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.productDetails {
    display: flex;
    align-items: center;
}

.productDetails>div:nth-child(1)>img {
    width: 80%;
    height: auto;
    margin-right: 2rem;
}

.productDetails>div:nth-child(2)>h3 {
    font-size: 20px;
    margin-bottom: 0.5rem;
}

.productDetails>div:nth-child(2)>h5 {
    font-size: 17px;
    margin-bottom: 0.5rem;
}

.modlaQuantitySelector {
    display: flex;
    align-items: center;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25px;
    border: 1px solid #c9c9c9;
    margin-top: 1rem;
}

.modalQuantityButton {
    border: none;
    font-size: 13px;
    background: white;
    width: 20px;
    height: 20px;
}

.modalQuantityDisplay {
    font-size: 13px;
}

/* 여기까지는 상품 디테일 페이지 */

@media screen and (max-width: 1024px) {

    .subMenu {
        width: 100%;
    }


}

@media screen and (max-width: 768px) {

    .subMenu {
        width: 100%;
    }

    .productsListWrapper {
        width: 100%;
    }

    .filterListButtons>button {
        margin-bottom: 15px;
    }

    .productDetailCont {
        width: 100%;
    }

    .productDetailImgBox {
        display: flex;
        align-items: center;
    }

    .productDetailTextBox {
        width: 45%;
    }

    .productDetailTextBox h3 {
        font-size: 1.2rem;
    }

    .productDetailTextBox>p {
        font-size: 0.8rem;
        margin: 0.5rem 0px;
    }

    .pricebox>p {
        font-size: 0.8rem;
    }

    .quantitySelector {
        width: 25%;
        height: 30px;
        margin: 0.5rem 0px;
    }

    .quantityButton {
        width: 28px;
        height: 28px;
    }

    .addToCartBut,
    .cartBut {
        width: 90%;
        height: 35px;
    }

    .productDetailModalBox {
        width: 80%;
    }

    .productDetailButBox {
        flex-direction: column;
    }

    .addToCartBut,
    .cartBut {
        margin: 0.6rem 0px;
        border-radius: 0;
    }
}


@media screen and (max-width: 480px) {

    .productsListWrapper {
        width: 94%;
        align-items: center;
    }

    .filterListButtons {
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        display: flex;
        gap: 10px;
    }

    .filterListButtons>button {
        flex-shrink: 0;
    }

    .productDetailCont>div:nth-child(2) {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .productDetailImgBox {
        width: 100%;
        margin-bottom: 1rem;
    }

    .productDetailTextBox {
        width: 90%;
    }

    .productDetailTextBox>p {
        font-size: 15px;
    }

    .productDetailTextBox {
        width: 90%;
    }


    .addToCartBut,
    .cartBut {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .productDetailModalBox {
        width: 80%;
    }

    .productDetails>div:nth-child(1) {
        width: 30%;
    }

    .productDetails>div:nth-child(2) {
        width: 70%;
    }

    .productDetails>div:nth-child(1)>img {
        width: 60%;
        height: auto;
    }

    .productDetails>div:nth-child(2)>h3 {
        font-size: 16px;
    }

    .productDetails>div:nth-child(2)>h5 {
        font-size: 14px;
    }
}