.productsListCont {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 2rem;
    margin-top: 8rem;
}

.productsListCont>h3 {
    font-size: 30px;
    margin: 30px;
}

.filterListButtons {
    width: 90%;
    margin-bottom: 4rem;
    border-bottom: 1px solid gainsboro;
}

.filterListButtons>button {
    padding: 15px 35px;
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 30px;
    margin: 0.5rem;
    color: #dd952f;
    margin-bottom: 3rem;
}

.filterListButtons>button:hover {
    background-color: #dd952f;
    color: white;
    border: none;
    font-weight: bold;
}

.productsListWrapper {
    width: 80%;
    display: flex;
    overflow-x: hidden;
    flex-wrap: wrap;
    padding-bottom: 20px;
}


.productsListCard {
    padding: 20px;
    width: 350px;
    margin: 15px;
    height: 430px;
    background-color: #ffffff;
    border: 1px solid gainsboro;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.productsListCard>img {
    border-radius: 20px;
}

.productsListCard>div {
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.productsListCard>div>h5 {
    font-size: 21px;
}

.productsListCard>div>p {
    font-size: 18px;
    color: gray;
}

.productsListCard>p {
    text-align: left;
    color: gray;
    margin-bottom: 0.8rem;
}

.productsListCard>button {
    padding: 5px 25px;
    background-color: #dd952f;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


@media screen and (max-width: 480px) {

    .productsListWrapper {
        width: 90%;
    }


    .productsListWrapper {
        align-items: center;
    }
}