.productsCont {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 2rem;
    position: relative;
}

.productsCont>h3 {
    font-size: 30px;
    margin: 30px;
}

.filterButtons {
    width: 90%;
    margin-bottom: 4rem;
}

.filterButtons>button {
    padding: 15px 35px;
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 30px;
    margin: 0.5rem;
    color: #dd952f;
}

.filterButtons>button:hover {
    background-color: #dd952f;
    color: white;
    border: none;
    font-weight: bold;
}

.slideleftButton,
.sliderigtButton {
    background-color: #dd952f;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    margin: 0 10px;
}

.slideleftButton {
    position: absolute;
    left: 0.5rem;
    top: 55%;
}

.sliderigtButton {
    position: absolute;
    right: 0.5rem;
    top: 55%;
}

/**/


.productsWrapper {
    width: 80%;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding-bottom: 20px;
}

.productsWrapper::-webkit-scrollbar {
    display: none;
}


.products {
    padding: 20px;
    width: 350px;
    margin: 15px;
    height: 430px;
    background-color: #ffffff;
    border: 1px solid gainsboro;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.prdducts>img {
    border-radius: 20px;
}

.products>div {
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.products>div>h5 {
    font-size: 21px;
}

.products>div>p {
    font-size: 18px;
    color: gray;
}

.products>p {
    text-align: left;
    color: gray;
    margin-bottom: 0.8rem;
}

.products>button {
    padding: 5px 25px;
    background-color: #dd952f;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


@media screen and (max-width: 768px) {
    .productsCont>h3 {
        font-size: 24px;
    }
}

@media screen and (max-width: 480px) {

    .productsCont>h3 {
        font-size: 23px;
    }

    .slideleftButton {
        position: absolute;
        left: 0.5rem;
        top: 65%;
    }

    .sliderigtButton {
        position: absolute;
        right: 0.5rem;
        top: 65%;
    }
}