.puppyCont {
    width: 100%;
    min-height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.puppyWrapper {
    width: 80%;
    height: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.puppyTextBox {
    text-align: center;
    height: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}

.puppyTextBox>h3 {
    font-size: 30px;
    margin-bottom: 0.5rem;
}

.puppyImgWrapper {
    margin-top: 3rem;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.puppysbox {
    background-color: white;
    width: 250px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.puppysbox img {
    width: 60%;
    height: 60%;
    object-fit: cover;
}

.puppysbox h4 {
    font-size: 18px;
    color: #333;
}

.puppysbox>button {
    padding: 10px 40px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.puppysbox>button>a {
    color: #dd952f;
    font-weight: bold;
}

.puppysbox>button>a:hover {
    color: white;
}

.puppysbox>button:hover {
    background-color: #dd952f;
}

.puppysbox img:hover {
    transform: scale(1.05)
}

@media screen and (max-width: 1024px) {

    .puppyWrapper {
        padding-top: 3rem;
        padding-bottom: 3rem;
        width: 100%;
    }

    .puppyImgWrapper {
        width: 70%;
    }

}

@media screen and (max-width: 768px) {

    .puppyTextBox {
        margin-top: 3rem;
    }

    .puppyTextBox>h3 {
        font-size: 24px;
    }

    .puppyTextBox>p {
        font-size: 16px;
    }

    .puppysbox {
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 480px) {

    .puppyTextBox>h3 {
        font-size: 20px;
    }

    .puppyTextBox>p {
        font-size: 13px;
    }
}