.siteItroCont {
    width: 100%;
    min-height: 70vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.siteItroWrapper {
    width: 75%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.siteItroImgbox {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.siteItroImgbox>img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}

.siteItroTextbox {
    flex: 2;
    text-align: left;
}

.siteItroTextbox h3 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #333;
}

.siteItroTextbox p {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}

.siteItroTextbox>button {
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    background-color: #DD952F;
    margin-top: 10px;
}

.siteItroTextbox>button>a {
    color: #f5f5f5;
    font-weight: bold;
}

.siteItroImgbox>img:hover {
    transform: translateY(-5px);
}


@media screen and (max-width: 768px) {

    .siteItroWrapper {
        flex-direction: column;
        text-align: center;
    }

    .siteItroImgbox,
    .siteItroTextbox {
        width: 100%;
        text-align: center;
    }

    .siteItroTextbox>h3 {
        font-size: 25px;
    }

    .siteItroTextbox>p {
        font-size: 14px;
    }

    .siteItroImgbox>img {
        max-width: 80%;
    }
}