.walkTrackerCont {
    width: 100%;
    min-height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

.walkTrackerWrapper {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.walkTrackerheader {
    font-size: 20px;
    width: 100%;
    display: flex;
    margin-bottom: 3rem;
    margin-top: 30px;
}

.walkTrackerheader>h2 {
    font-size: 1.8rem;
    font-weight: 600;
}

.walkTrackerCourse {
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
}

.walkTrackerMap {
    width: 100%;
    display: flex;
}

.buttonGroup {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 1.5rem 0;
}

.calculateRouteButton,
.saveLogButton {
    background-color: #dd953f;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
    margin-top: 3rem;
}

.calculateRouteButton:hover,
.saveLogButton:hover {
    background-color: white;
    color: #dd953f;
    border: 1px solid #dd953f;
}

.uploadSection {
    width: 100%;
    margin-top: 20px;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.uploadSection h3 {
    margin-top: 0;
    font-size: 1.25rem;
    text-align: left;
    margin-bottom: 1rem;
}

.uploadSection input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
}


@media screen and (max-width: 768px) {

    .walkTrackerheader>h3,
    .uploadSection h3 {
        font-size: 24px;
    }

    .walkTrackerWrapper {
        width: 95%;
    }

    .walkTrackerheader {
        margin-bottom: 2rem;
    }

    .walkTrackerheader h2 {
        font-size: 1.4rem;
    }

    .walkTrackerCourse {
        flex-direction: column;
    }

    .walkTrackerMap {
        min-height: 300px;
        justify-content: center;
    }

    .buttonGroup {
        flex-direction: column;
        gap: 0.8rem;
    }

    .calculateRouteButton,
    .saveLogButton {
        width: 80%;
        padding: 14px 20px;
        margin-top: 30px;
    }

    .uploadSection {
        padding: 1.5rem;
    }
}


@media screen and (max-width: 480px) {
    .walkTrackerheader {
        margin-bottom: 1.5rem;
    }

    .walkTrackerheader>h3 {
        font-size: 1.3rem;
    }

    .walkTrackerMap {
        min-height: 250px;
    }

    .uploadSection {
        padding: 1rem;
    }

    .uploadSection h3 {
        font-size: 1.1rem;
    }

    .uploadSection textarea {
        width: 95%;
    }

    .uploadSection button {
        width: 50%;
        margin-bottom: 1rem;
    }
}