.walkTrackerCont {
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.walkTrackerWrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.walkTrackerheader {
    font-size: 25px;
    width: 100%;
    display: flex;
    margin-bottom: 3rem;
    margin-top: 30px;
}

.walkTrackerCourse {
    width: 100%;
    display: flex;
}

.walkTrackerMap {
    width: 100%;
    display: flex;
}

.calculateRouteButton, .saveLogButton {
    background-color: #ff4500;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.calculateRouteButton:hover, .saveLogButton:hover {
    background-color: #e03e00;
}

.uploadSection {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
